<ol class="breadcrumb bg-primary text-light">
  <li class="breadcrumb-item">
    <img src="logo_UCLA_white.svg" class="ucla-logo" />
  </li>
  <li class="breadcrumb-item">College</li>
  <li class="breadcrumb-item">Physical Sciences</li>
</ol>
<nav
  class="navbar navbar-expand-lg navbar-light mt-0 mt-lg-0 mr-4 border-bottom mb-4"
>
  <a class="navbar-brand" href="#">Atmospheric and Oceanic Sciences</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto text-primary">
      <li class="nav-item">
        <a class="nav-link weather"
          ><img src="sun.png" alt="Weather Forecast"
        /></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-primary"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Visiting the Department</a>
          <a class="dropdown-item" href="#">Employment</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-primary"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Academics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Undergraduate</a>
          <a class="dropdown-item" href="#">Graduate</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-primary"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Faculty</a>
          <a class="dropdown-item" href="#">Staff</a>
          <a class="dropdown-item" href="#">Students</a>
          <a class="dropdown-item" href="#">Alumni</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link text-primary">Research</a></li>
      <li class="nav-item"><a class="nav-link text-primary">Give</a></li>
      <li class="nav-item">
        <a class="nav-link"
          ><img src="https://atmos.ucla.edu/Icon/search-icon-2.svg"
        /></a>
      </li>
    </ul>
  </div>
</nav>
