* {
  font-family: Helvetica;
}

.bg-primary {
  background-color: #2774AE !important;
}

.text-primary {
  color: #2774AE !important;
}

.breadcrumb {
  border-radius: 0;
  line-height: 1.15;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.ucla-logo {
  width: 3em;
  height: auto;
  margin-right: -1px;
  vertical-align: top;
}

.weather {
  margin-top: -5px;
}

.navbar-brand {
  font-size: 1.5em;
}

.branding-ribbon {
  display: inline-block;
  color: white;
  font: 1.5em Helvetica;
  font-weight: bold;
  background-color:#2774ae;
  margin: 3px 0px;
  padding: 10px 8px 6px 8px;
}

.standout {
  margin-top: 2em;
}

.card {
  width:18rem;
  padding: 0;
}

.card-img-overlay {
  margin: 0;
  padding: 0;
}

.card-event { 
  max-width: 7em; 
  font-family: Helvetica;
  font-weight: bold;
}
.event-date {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: yellow;
  line-height: 1.2;
  text-align: right;
}
.event-date-dow { 
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.25em;
  padding: 0.3rem 0 0 0.5rem;
  margin: 0;
}
.event-date-month {
  grid-column: 1/2;
  grid-row:2/3;
  padding: 0 0 0.3rem 0.5rem;
  font-size: 1.25rem;
  margin: 0;
}
.event-date-dom {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 3rem;
  background-color: yellow;
  padding: 0 0.3rem;
}

.module-header {
  border-left: 8px solid #FFD100;
  padding: 0 0.5em;
}
