<!DOCTYPE html>


<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<ol class="breadcrumb bg-primary text-light">
  <li class="breadcrumb-item"><img src="logo_UCLA_white.svg" class="ucla-logo" /></li>
  <li class="breadcrumb-item">College</li>
  <li class="breadcrumb-item">Physical Sciences</li>
</ol>
<nav class="navbar navbar-expand-lg navbar-light mt-0 mt-lg-0 mr-4 border-bottom mb-4">
  <a class="navbar-brand" href="#">Atmospheric and Oceanic Sciences</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto text-primary">
      <li class="nav-item"><a class="nav-link weather"><img src="sun.png" alt="Weather Forecast" /></a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Visiting the Department</a>
          <a class="dropdown-item" href="#">Employment</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Academics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Undergraduate</a>
          <a class="dropdown-item" href="#">Graduate</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Faculty</a>
          <a class="dropdown-item" href="#">Staff</a>
          <a class="dropdown-item" href="#">Students</a>
          <a class="dropdown-item" href="#">Alumni</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link text-primary">Research</a></li>
            <li class="nav-item"><a class="nav-link text-primary">Give</a></li>
      <li class="nav-item"><a class="nav-link"><img src="https://atmos.ucla.edu/Icon/search-icon-2.svg" /></a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h2 class="module-header">People & Research</h2>
  <div class="card-deck">
    <div class="card col-sm-8 col-md-6 col-xl-3 mb-4">
      <img class="card-img" src="JochenStutz.png" />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
		Jochen Stutz
	</li>
        <li class="list-group-item">
		Professor
        </li>
        <li class="list-group-item">
		jochen@atmos.ucla.edu
	</li>
        <li class="list-group-item">
		(310) 825-5364
	</li>
        <li class="list-group-item">
          <img src="https://atmos.ucla.edu/Icon/Location%20Baseline.svg"> Math Sciences 7172
        </li>
	<li class="list-group-item">
		<h5 class="badge badge-pill badge-primary">Atmospheric Chemistry</h5>
		<h5 class="badge badge-pill badge-secondary">Experimental Field Studies</h5>
		<h5 class="badge badge-pill badge-success">Instrument Development</h5>
	</li>
      </ul>
    </div>
    <div class="card col-sm-8 col-md-6 col-xl-3 mb-4">
      <img class="card-img" src="AlexHall.png" />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
		Alex Hall
	</li>
        <li class="list-group-item">
		Professor
        </li>
        <li class="list-group-item">
		alexhall@atmos.ucla.edu
	</li>
        <li class="list-group-item">
		(310) 206-5219
	</li>
        <li class="list-group-item">
          <img src="https://atmos.ucla.edu/Icon/Location%20Baseline.svg"> Math Sciences 7955
        </li>
	<li class="list-group-item">
		<h5 class="badge badge-pill badge-danger">Climate Modeling</h5>
		<h5 class="badge badge-pill badge-warning">Climate Science</h5>
	</li>
      </ul>
    </div>
    <div class="card col-sm-8 col-md-6 col-xl-3 mb-4">
      <img class="card-img" src="Cody.png" />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
		Cody Ashe-McNalley
	</li>
        <li class="list-group-item">
		IT, Programmer
        </li>
        <li class="list-group-item">
		cody@atmos.ucla.edu
	</li>
        <li class="list-group-item">
		(310) 825-2418
	</li>
        <li class="list-group-item">
          <img src="https://atmos.ucla.edu/Icon/Location%20Baseline.svg"> Math Sciences 7101A
        </li>
	<li class="list-group-item">
		<h5 class="badge badge-pill badge-dark">IT</h5>
	</li>
      </ul>
    </div>
  </div>
</div>
<footer class="footer bg-primary text-light">
<div class="container">
<div class="row pt-3 pb-3">
<div class="col-4">
<img src="https://atmos.ucla.edu/sites/default/files/Uxd_Wht_ATMOS.svg" />
</div>
</div>
</div>
</footer>
</body>
</html>
